.vscode/*
.idea/*
*pycache*
*.pyc
*DS_Store*
decentralized_exploration/dme_drl/assets/maps
decentralized_exploration/dme_drl/model
decentralized_exploration/dme_drl/runs
decentralized_exploration/dme_drl/results/
decentralized_exploration/dme_drl/track/
decentralized_exploration/dme_drl/manual_check
decentralized_exploration/results
